<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=DESKTOP-BH9V1PR;initial catalog=ShutIKrol;User ID=rws_user;Password=Rws_Pass123!;encrypt=True;trustservercertificate=True;" providerName="System.Data.SqlClient" />
    <add name="ShutIKrolEntities" connectionString="metadata=res://*/ShutIKrolDB.csdl|res://*/ShutIKrolDB.ssdl|res://*/ShutIKrolDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ИМЯ_СЕРВЕРА;initial catalog=ShutIKrol;User ID=rws_user;Password=Rws_Pass123!;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShutIKrolEntities1" connectionString="metadata=res://*/ShutIKrolDB.csdl|res://*/ShutIKrolDB.ssdl|res://*/ShutIKrolDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BH9V1PR;initial catalog=ShutIKrol;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>